html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
dd, dl, dt, li, ol, ul, fieldset, form, label, legend, caption, 
table, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0 none;
	background-position:0 0;
	background-repeat:no-repeat;
	background-color:transparent
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align:middle
}
input {margin:0;padding:0;border:0}
select,textarea {margin:1px;padding:3px}
ol, ul {list-style:none}
li, dd {margin-bottom:0}
p {margin:0 0 10px 0}

table {border-collapse:collapse;border-spacing:0}

body {padding:10px 0;background:#f5efe3}

h1,h2,h3,h4,h5 {font-weight:normal;line-height:normal}
h1 {font-size:2em}
h2 {font-size:1.5em}
h3 {font-size:1.17em}
h4 {font-size:1em}
h5 {font-size:0.83em}
h6 {font-size:0.67em}

body,td,textarea,input,select {
	font:20px "Calibri", sans-serif;
	color:#000;
	line-height:1.4em
}

a {color:#000;text-decoration:none}
a:hover {text-decoration:none !important}

/*__________ Reset #END __________*/

/*____________ Helpers____________*/

.clear {clear:both}
.no-bg {background:none !important}
.fl-l {float:left}
.fl-r {float:right}
.margin-no {margin:0 !important}

/*__________ General __________*/

#wrapper {width:680px;padding:45px 20px;margin:0 auto;background:#fff;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}

.drop {display:inline-block;vertical-align:middle;position:relative;color:#333}
.drop-label, .drop-list {border:1px solid #ccc;cursor:pointer;background:#fff;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.drop-label {width:112px;height:25px;line-height:24px;padding:0 35px 0 8px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;background:url(../images/bar/drop-arrows.png) right top no-repeat}
.drop-label:hover {border-color:#aaa}
.drop-label:active {background-color:#f5f5f5}

.drop-list {display:none;position:absolute;left:0;top:30px;overflow:hidden;z-index:1}
.drop-list li {height:30px;line-height:30px;padding:0 35px 0 8px;white-space:nowrap}
.drop-list li.selected {background:url(../images/ico/selected-ico.png) right center no-repeat}
.drop-list li:hover {background-color:#ffffd9}
.drop-list li:active {background-color:#edfad4}

/* right list */
.right .drop-label {background-color:#add166;border-color:#add166}

/* wrong list */
.wrong .drop-label {background-color:#f58e8e;border-color:#f58e8e}
.wrong .drop-label:hover {border-color:#db7f7f}

.right .drop-label, .wrong .drop-label {color:#fff;background-position:right bottom}

/* example */

.example {padding:50px 0 0 0}
